@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-width: 350px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
html {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

body {
    background: 
        url('./components/bgLeft.png') no-repeat 400% -8% / 106%,
        url('./components/bgRight.png') no-repeat -680% -8% / 102%;
    background-color: #131431;
    background-attachment: fixed;
    z-index: -10;
    overflow-y: auto;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@media (max-width: 480px) {
  body {
      background:
          url('./components/bgRightMobile.png') no-repeat 48% -4% / 180%;
      background-color: #131431;
      z-index: -10;
      overflow-y: auto;
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      margin: 0;
  }
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 20, 49, 0.5);
  pointer-events: none;
  z-index: -10;
}

.round-tl-br {
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

.round-footer {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.hologram-container img {
  width: 500px;
  height: auto;
}

.hologram-container #modal-size{
  width: 900px;
  height: auto;
}

@media (max-width: 768px) {
  .hologram-container img {
    width: 400px;
    height: 200px;
  }

  .hologram-container #modal-size {
    width: 600px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .hologram-container img {
    width: 200px;
    height: 100px;
  }

  .hologram-container #modal-size {
    width: 300px;
    height: 100px;
  }
}

#comp-monsters img {
  width:474px;
  height: 124px;
}

#comp-monsters #modal-size {
  width:474px;
  height: 124px;
}

@media (max-width: 768px) {
  #comp-monsters img {
    width: 220px;
    height: 80px;
  }

  #comp-monsters #modal-size {
    width: 600px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  #comp-monsters img {
    width: 220px;
    height: 80px;
  }

  #comp-monsters #modal-size {
    width: 300px;
    height: 100px;
  }
}

#enigmatic-ball {
  width: 1.4rem;
  height: 1.4rem;
}

.card-img{
  width: 12rem;
  height: auto;
  flex-shrink: 0;
}

.card-circle{
  width: 13rem;
  height: auto;
}

#enemy-laser-drone .card-img {
  height: auto;
  width: 12.5rem;
  top: 0.2rem;
  right: 0.4rem;
  
}

#enemy-orb-drone .card-img {
  height: auto;
  width: 12.5rem;
  top: 0.2rem;
  right: 0.4rem;
}

#enemy-shinagawa-hammer .card-img {
  height: 13rem;
  width: 10.5rem;
  right: 0.8rem;
  top: 0rem;
}

#enemy-shinagawa-rider .card-img {
  height: auto;
  width: 10rem;
}

#enemy-shinagawa-batter .card-img {
  height: auto;
  width: 9.5rem;
  top: 0.2rem;
  right: 1rem;
}

#enemy-minion-defender .card-img {
  height: 11rem;
  width: 12.2rem;
}

#enemy-minion-double-speed {
  overflow: hidden;
}

#enemy-minion-double-speed .card-img {
  height: 8rem;
  width: 15rem;
  top: 0.5rem;
  right: 0.5rem;

}

#enemy-shark .card-img{
  right: 0.6rem;
}

@media(min-width: 760px){
  .description-image{
    width: attr(data-desktop-width);
  }
}

/* .table-border-col {
  background-color: rgba(0, 3, 1, 0.85);
  box-shadow: 0 0 0 4px #494c4b inset,
              0 0 0 6px black;
}


.table-border-row {
  background-color: rgba(0, 3, 1, 0.50);
  border :8px solid black;
  overflow: hidden;
} */

.table-border-col {
    background-color: rgba(0, 3, 1, 0.85);
    box-shadow: 0 0 0 4px #494c4b inset;
    border: 6px solid black;
    border-collapse: collapse;
    /* outline: 8px solid black; */
    /* outline-offset: -2px; */
  }

.table-border-row {
    background-color: rgba(0, 3, 1, 0.50);
    border: 6px solid black;
    border-collapse: collapse;
    /* box-shadow: inset 0 0 0 6px transparent; */
    /* box-shadow: inset 0 0 0 4px black; */
    /* outline: 4px solid black; */
    /* outline-offset: -3px; */
  }

/* .custom-bg {
  background-color: transparent;
  transition: background-image 0.3s ease;
}

.custom-bg:hover {
  background-image: url('./components/navbarGlow.png');
  background-position: center;
  background-size: cover;
} */

.custom-bg {
  position: relative;
  background-color: transparent;
}

.custom-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./components/navbarGlow.png');
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.custom-bg:hover::before {
  opacity: 1;
}
