@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-width: 350px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
html {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

body {
  
    background: #131431 ;
    z-index: -10;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}

.hologram-container img {
  width: 600px;
  height: 300px;
}

.hologram-container #modal-size{
  width: 900px;
  height: 500px;
}

@media (max-width: 768px) {
  .hologram-container img {
    width: 400px;
    height: 200px;
  }

  .hologram-container #modal-size {
    width: 600px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .hologram-container img {
    width: 200px;
    height: 100px;
  }

  .hologram-container #modal-size {
    width: 300px;
    height: 100px;
  }
}

#comp-monsters img {
  width:474px;
  height: 124px;
}

#comp-monsters #modal-size {
  width:474px;
  height: 124px;
}

@media (max-width: 768px) {
  #comp-monsters img {
    width: 220px;
    height: 80px;
  }

  #comp-monsters #modal-size {
    width: 600px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  #comp-monsters img {
    width: 220px;
    height: 80px;
  }

  #comp-monsters #modal-size {
    width: 300px;
    height: 100px;
  }
}

#enigmatic-ball {
  width: 1.4rem;
  height: 1.4rem;
}

.card-img{
  width: auto;
  height: 200px;
}